html
    h1 Kindle Web Convert
    p
        a(href="/me") User page
        br
        a(href="/login") Login
        br
        a(href="/register") Register
    p
        a(href="/upload") Upload
        br
        a(href="/me") Settings
