html
    h1 Upload
    h6 Upload books here and have them automatically converted and emailed to your kindle.
    form(action="/upload",method="POST",enctype="multipart/form-data")
        p
            label(for="file") Files
            input#file(name="books",type="file",multiple)
        p
            input(type="submit",value="Upload")
